.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.left-section {
    flex: 1;
}

.right-section {
    flex: 1;
    
    background-position: center;
    padding: 20px;
   
}
.location,
.contact-info {
    margin-bottom: 20px;
    color: white; /* Text color on the background image */
    background-color: rgba(0, 0, 0, 0.5); /* Background color for text to improve readability */
    padding: 20px;
}

.location h3,
.contact-info h3 {
    margin-bottom: 10px;
    color: white; /* Header text color on the background image */
}
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0b0b0b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.location,
.contact-info {
    margin-bottom: 20px;
}

.location h3,
.contact-info h3 {
    margin-bottom: 10px;
}
